/* settings */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -30px;
}
.row > * {
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
}
.row.gy {
  margin-top: -30px;
}
.row.gy > * {
  padding-top: 30px;
}

.navpage {
  padding: 30px 0;
}
.navpage .heading {
  margin-bottom: 20px;
}
.navpage ul {
  list-style-type: none;
  padding-left: 0;
}
.navpage ul li {
  margin: 10px 0;
}
.navpage ul li span {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  font-size: 32px;
  line-height: 38px;
}
@media (max-width: 500px) {
  .title {
    font-size: 22px;
    line-height: 25px;
  }
}

@media (max-width: 500px) {
  .mobile-hide {
    display: none;
  }
}

@media (min-width: 501px) {
  .mobile-visible {
    display: none;
  }
}

.btn-gray {
  background-color: #C5C6C8;
  color: #000;
}
.btn-gray:hover {
  background-color: #00618E;
  color: #fff;
}

/* /settings */
/* input */
.input {
  position: relative;
}
.input__label {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.input__input {
  position: relative;
}
.input__input input {
  width: 100%;
  height: 58px;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 6px;
  border: 2px solid transparent;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.input__input input:focus {
  border-color: #00618E;
}
.input__input--icon input {
  padding-right: 50px;
}
.input__select {
  position: relative;
}
.input__select select {
  width: 100%;
  height: 58px;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 6px;
  border: 2px solid transparent;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input__select select:focus {
  border-color: #00618E;
}
.input__select select:focus ~ .input__icon svg {
  stroke: #00618E;
}
.input__select select::-ms-expand {
  display: none;
}
.input__select--icon select {
  padding-right: 50px;
}
.input__icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 2;
  pointer-events: none;
}
.input__icon svg {
  display: block;
  stroke: #CCD2E3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.input__drop {
  padding: 0 10px;
  background: #FFF;
  border: 2px solid #00618E;
  border-radius: 6px;
  position: absolute;
  top: calc(100% + 8px);
  z-index: 5;
}
.input__list {
  list-style-type: none;
  padding-left: 0;
  font-size: 14px;
  line-height: 30px;
}
.input__list li {
  padding: 0 10px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input__list li:hover {
  background-color: #F0F2F5;
}

/* /input */
/* air-datepicker */
.air-datepicker {
  padding: 30px;
  border-radius: 10px;
  background-color: #F0F2F5;
  -webkit-box-shadow: 0px 12px 21px rgba(0, 34, 49, 0.2);
  box-shadow: 0px 12px 21px rgba(0, 34, 49, 0.2);
  border: none;
}

.air-datepicker-nav {
  font-size: 24px;
  line-height: 28px;
  color: #00618E;
}
.air-datepicker-nav i {
  color: #00618E;
}

.air-datepicker-nav--action path {
  stroke: #00618E;
}

.air-datepicker--content {
  font-size: 15px;
  line-height: 18px;
  color: #00618E;
}

.air-datepicker-cell.-day-.-other-month-,
.air-datepicker-cell.-year-.-other-decade- {
  color: #BDBDBD;
}

.air-datepicker-body--day-name {
  color: #00618E;
}

.air-datepicker-cell.-selected- {
  background-color: #00618E;
  color: #F0F2F5;
}

.air-datepicker-cell.-selected-.-focus- {
  background-color: #00618E;
}

.air-datepicker-cell.-selected-.-current- {
  background-color: #00618E;
}

.air-datepicker-nav {
  padding-bottom: 10px;
}

.air-datepicker--buttons {
  padding-top: 10px;
}

.air-datepicker-button {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.air-datepicker-button:nth-child(2) {
  background-color: #00618E;
  color: #fff;
}

.air-datepicker--pointer {
  display: none;
}

/* /air-datepicker */
/* accordion */
.accordion__trigger {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.accordion__content {
  display: none;
}

/* /accordion */
/* arhiv */
.arhiv {
  padding: 43px 0 1px;
}
.arhiv .title {
  margin-bottom: 30px;
}
.arhiv__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 34px 75px 35px 30px;
  background: #FFFFFF;
  border-radius: 6px;
  color: #1F2223;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  margin-bottom: 18px;
}
.arhiv__item:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.arhiv__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 385px;
  margin-right: 30px;
}
.arhiv__img img {
  width: 100%;
}
.arhiv__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.arhiv__date {
  font-size: 14px;
  line-height: 22px;
  color: #A2ABB0;
  margin-bottom: 10px;
}
.arhiv__title {
  max-width: 680px;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}
.arhiv__text {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (max-width: 1050px) {
  .arhiv__img {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .arhiv {
    padding: 30px 0 1px;
  }
  .arhiv__item {
    display: block;
    padding: 35px 30px;
  }
  .arhiv__img {
    width: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .arhiv__item {
    padding: 20px 15px;
  }
}

/* /arhiv */
/* pagination */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  font-size: 14px;
  line-height: 18px;
  list-style-type: none;
}
.pagination__list-link {
  display: block;
  padding: 9px 18px;
  border-radius: 6px;
  color: #000;
}
.pagination__list-link:hover:not(span):not(.active) {
  color: #00618E;
}
.pagination__list-link.active {
  background-color: #fff;
  pointer-events: none;
  cursor: default;
}
.pagination__list-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #DCE4E9;
}
.pagination__list-arrow svg {
  fill: #00618E;
}
.pagination__list-arrow--prev {
  margin-right: 17px;
}
.pagination__list-arrow--next {
  margin-left: 17px;
}
.pagination__list-arrow:hover {
  border-color: #00618E;
}
.pagination__list-arrow.disabled {
  pointer-events: none;
  cursor: default;
}
.pagination__list-arrow.disabled svg {
  fill: #DCE4E9;
}
.pagination__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 24px;
}
.pagination__filter-text {
  color: #939EB8;
}
.pagination__filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.pagination__filter-list li {
  margin-left: 22px;
}
.pagination__filter-list a {
  color: #00618E;
}
.pagination__filter-list a.active {
  color: #1F2223;
  pointer-events: none;
  cursor: default;
}
@media (max-width: 768px) {
  .pagination {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .pagination__pages {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .pagination__list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .pagination__filter {
    margin-left: auto;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .pagination__filter {
    margin-bottom: 10px;
  }
  .pagination__list-link {
    padding: 6px 8px;
  }
  .pagination__list-arrow--prev {
    margin-right: 8px;
  }
  .pagination__list-arrow--next {
    margin-left: 8px;
  }
}

/* /pagination */
/* faq */
.faq {
  padding-top: 40px;
}
.faq .title {
  margin-bottom: 20px;
}
.faq__form {
  margin-bottom: 43px;
}
.faq__form > .row {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.faq__input {
  width: 41.6666666667%;
}
@media screen and (max-width: 1050px) {
  .faq__input {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .faq__input {
    width: 100%;
  }
}
.faq__select {
  width: 16.6666666667%;
}
@media screen and (max-width: 1050px) {
  .faq__select {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .faq__select {
    width: 100%;
  }
}
.faq__date {
  width: 25%;
}
@media screen and (max-width: 1050px) {
  .faq__date {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .faq__date {
    width: 100%;
  }
}
.faq__btn {
  width: 16.6666666667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1050px) {
  .faq__btn {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .faq__btn {
    width: 100%;
  }
}
.faq__btn .btn {
  width: 100%;
  height: 58px;
}
.faq__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 18px;
  padding: 36px;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 18px;
}
.faq__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.faq__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 23px;
}
.faq__answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.faq__name {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100px;
  color: #939EB8;
}
.faq__name-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.faq__name-flex svg {
  margin-right: 2px;
}
.faq__text {
  padding-right: 30px;
}
.faq__text--blue {
  color: #00618E;
}
.faq__data {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 160px;
  padding-left: 35px;
  position: relative;
}
.faq__data:after {
  content: "";
  display: block;
  width: 1px;
  background-color: #F0F2F5;
  position: absolute;
  left: 0;
  top: -20px;
  bottom: -20px;
}
.faq__item-date {
  margin-bottom: 10px;
}
.faq__fz {
  display: inline-block;
  padding: 3px 8px;
  background: #F0F2F5;
  border-radius: 6px;
}
@media (max-width: 768px) {
  .faq__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 25px;
  }
  .faq__content {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .faq__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  .faq__data:after {
    width: auto;
    height: 1px;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .faq__item-date {
    margin-bottom: 0;
  }
  .faq__text {
    padding-right: 0;
  }
}
@media (max-width: 500px) {
  .faq__item {
    padding: 15px;
  }
  .faq__btn {
    margin-top: 30px;
  }
  .faq .input__drop {
    width: 100%;
  }
  .faq__question {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .faq__answer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .faq__name {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* /faq */
/* breadcrumbs */
.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  font-size: 12px;
  line-height: 20px;
}
.breadcrumbs ul li {
  padding: 5px 0;
}
.breadcrumbs ul li:not(:last-child) {
  padding-right: 20px;
  margin-right: 6px;
  position: relative;
}
.breadcrumbs ul li:not(:last-child):after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.148 6.3C7.268 6.044 7.384 5.82 7.496 5.628C7.616 5.436 7.732 5.276 7.844 5.148H0.848V4.644H7.844C7.732 4.508 7.616 4.344 7.496 4.152C7.384 3.96 7.268 3.74 7.148 3.492H7.568C8.072 4.076 8.6 4.508 9.152 4.788V5.004C8.6 5.276 8.072 5.708 7.568 6.3H7.148Z' fill='%2300618E'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  right: 0;
}
.breadcrumbs ul li a {
  color: #00618E;
  border-bottom: 1px solid transparent;
}
.breadcrumbs ul li a:hover {
  border-color: #1F2223;
}
/* /breadcrumbs */
/* journal */
.journal {
  padding-top: 5px;
}
.journal .title {
  margin-bottom: 20px;
}
.journal__filter {
  margin-bottom: 30px;
}
.journal__filter > .row {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.journal__input {
  width: 16.6666666667%;
}
@media screen and (max-width: 1050px) {
  .journal__input {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .journal__input {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .journal__input {
    width: 100%;
  }
}
.journal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.journal__sidebar {
  width: calc(33.33% - 20px);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 37px 36px;
  background-color: #fff;
  border-radius: 6px;
}
.journal__main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 16px;
  padding: 41px 47px 45px;
  background-color: #fff;
  border-radius: 6px;
}
.journal__img {
  margin-bottom: 35px;
}
.journal__menu-title {
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 28px;
}
.journal__menu-list {
  padding-left: 50px;
  list-style-type: none;
  counter-reset: num;
  font-size: 18px;
  line-height: 25px;
}
.journal__menu-list li {
  margin: 25px 0;
  position: relative;
}
.journal__menu-list li:before {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -50px;
  width: 20px;
  color: #1F2223;
  text-align: right;
}
.journal__menu-list li:nth-child(-n+9):before {
  content: "0" counter(num);
}
.journal__head {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DCE4E9;
}
.journal__text h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.journal__text h4, .journal__text h5, .journal__text h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}
.journal__text p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .journal__sidebar {
    padding: 25px;
  }
  .journal__main {
    padding: 25px;
  }
  .journal__menu-list {
    padding-left: 25px;
  }
  .journal__menu-list li:before {
    left: -25px;
  }
}
@media (max-width: 1050px) {
  .journal__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .journal__sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
  }
  .journal__img {
    width: 300px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 30px;
  }
  .journal__main {
    margin-left: 0;
  }
  .journal__menu-list li {
    margin: 10px 0;
  }
}
@media (max-width: 768px) {
  .journal__img {
    width: 200px;
  }
  .journal__menu-list {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 500px) {
  .journal__sidebar {
    display: block;
    padding: 15px;
  }
  .journal__img {
    width: 100%;
    margin-right: 0;
  }
  .journal__main {
    padding: 15px;
  }
}

/* /journal */
/* vebinar */
.webinar {
  padding-top: 43px;
}
.webinar .title {
  margin-bottom: 29px;
}
.webinar__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.webinar__sidebar {
  width: calc(33.33% - 20px);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 6px;
}
.webinar__main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 16px;
  padding: 41px 44px 50px 47px;
  background-color: #fff;
  border-radius: 6px;
}
.webinar__sidebar-head {
  padding: 21px 30px 16px;
  border-bottom: 1px solid #DCE4E9;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.webinar__sidebar-body {
  padding: 32px 30px 35px;
}
.webinar__sidebar-col {
  width: 100%;
  margin-bottom: 34px;
}
@media screen and (max-width: 1050px) {
  .webinar__sidebar-col {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .webinar__sidebar-col {
    width: 100%;
  }
}
.webinar__item-img {
  margin-bottom: 21px;
}
.webinar__item-date {
  font-size: 14px;
  line-height: 22px;
  color: #A2ABB0;
  margin-bottom: 11px;
}
.webinar__item-text {
  font-size: 14px;
  line-height: 18px;
}
.webinar__date {
  font-size: 14px;
  line-height: 22px;
  color: #A2ABB0;
  margin-bottom: 11px;
}
.webinar__title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 33px;
}
.webinar__marks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 8px;
  line-height: 9px;
  margin-left: -7px;
  margin-bottom: 9px;
}
.webinar__mark {
  padding: 5px 11px;
  margin-left: 7px;
  white-space: nowrap;
  background: #F0F2F5;
  border-radius: 4px;
}
.webinar__theme {
  max-width: 700px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 11px;
}
.webinar__date-blue {
  display: inline-block;
  padding: 2px 8px;
  background: #00618E;
  border-radius: 4px;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 34px;
}
.webinar__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 19px;
}
.webinar__time {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 13px;
}
.webinar__dark-block {
  padding: 18px 16px 24px;
  background: #F0F2F5;
  border-radius: 4px;
  margin-bottom: 31px;
}
.webinar__spicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
}
.webinar__avatar {
  width: 56px;
  height: 56px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 10px;
  border-radius: 100%;
  overflow: hidden;
}
.webinar__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.webinar__name {
  font-size: 20px;
  line-height: 18px;
  margin-bottom: 7px;
}
.webinar__position {
  font-size: 14px;
  line-height: 18px;
}
.webinar__text {
  font-size: 14px;
  line-height: 16px;
}
.webinar__list {
  margin: 31px 0;
  padding-left: 50px;
  list-style-type: none;
  counter-reset: num;
}
.webinar__list > li {
  margin: 20px 0;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}
.webinar__list > li:before {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -50px;
  width: 20px;
  color: #1F2223;
  text-align: right;
}
.webinar__list > li:nth-child(-n+9):before {
  content: "0" counter(num);
}
.webinar__list > li span {
  display: block;
  margin: 18px 0;
}
.webinar__list > li ol {
  padding-left: 50px;
  list-style-type: none;
  counter-reset: num;
}
.webinar__list > li ol > li {
  margin: 10px 0;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}
.webinar__list > li ol > li:before {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -50px;
  width: 20px;
  color: #1F2223;
  text-align: right;
}
.webinar__list > li ol > li:nth-child(-n+9):before {
  content: "0" counter(num);
}
.webinar__list > li ul {
  list-style-type: none;
  padding-left: 20px;
}
.webinar__list > li ul > li {
  position: relative;
  margin: 12px 0;
}
.webinar__list > li ul > li:before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background-color: #1F2223;
  border-radius: 100%;
  position: absolute;
  top: 8px;
  left: -20px;
}
.webinar__btn {
  margin-bottom: 24px;
}
.webinar__warning {
  padding: 18px 30px 18px 54px;
  background: #FFF5E0;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  margin-bottom: 31px;
}
.webinar__warning-head {
  margin-bottom: 18px;
}
.webinar__info {
  width: 24px;
  position: absolute;
  top: 15px;
  left: 16px;
}
.webinar__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.webinar__cover-img {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 21px;
}
.webinar__social {
  width: 160px;
}
.webinar__social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 18px;
}
.webinar__social-items {
  font-size: 14px;
  line-height: 16px;
}
.webinar__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 12px 0;
  color: #1F2223;
}
.webinar__social-item:hover {
  color: #00618E;
}
.webinar__social-icon {
  width: 32px;
  margin-right: 12px;
}
@media (max-width: 1050px) {
  .webinar__flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .webinar__sidebar {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
  }
  .webinar__main {
    margin-left: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .webinar__sidebar-head {
    padding: 20px 15px;
  }
  .webinar__sidebar-body {
    padding: 20px 15px;
  }
  .webinar__main {
    padding: 20px 15px;
  }
}
@media (max-width: 500px) {
  .webinar__list {
    padding-left: 30px;
  }
  .webinar__list > li:before {
    left: -30px;
  }
  .webinar__list > li ol {
    padding-left: 30px;
  }
  .webinar__list > li ol > li:before {
    left: -30px;
  }
  .webinar__list > li ul {
    padding-left: 10px;
  }
  .webinar__list > li ul li:before {
    left: -10px;
  }
  .webinar__spicker {
    margin-bottom: 12px;
  }
  .webinar__name {
    font-size: 16px;
  }
  .webinar__position {
    font-size: 12px;
    line-height: 16px;
  }
  .webinar__cover {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .webinar__cover-img {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .webinar__social {
    width: 100%;
  }
}

/* /vebinar */
/* article */
.article {
  padding-top: 10px;
}
.article .title {
  margin-bottom: 18px;
}
.article__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.article__search-input {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 30px;
}
.article__search-input input::-webkit-input-placeholder {
  color: #1F2223;
}
.article__search-input input::-moz-placeholder {
  color: #1F2223;
}
.article__search-input input:-ms-input-placeholder {
  color: #1F2223;
}
.article__search-input input::-ms-input-placeholder {
  color: #1F2223;
}
.article__search-input input::placeholder {
  color: #1F2223;
}
.article__search-btn {
  width: 193px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.article__search-btn .btn {
  width: 100%;
  height: 100%;
}
.article__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.article__sidebar {
  width: calc(33.33% - 20px);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-top: 27px;
  background-color: #fff;
  border-radius: 6px;
}
.article__main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 41px 47px 50px;
  margin-left: 16px;
  background-color: #fff;
  border-radius: 6px;
}
.article__head {
  padding-bottom: 20px;
  margin-bottom: 27px;
  border-bottom: 1px solid #DCE4E9;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.article__body {
  font-size: 14px;
  line-height: 18px;
}
.article__body p {
  margin: 20px 0;
}
.article__body p span {
  display: block;
}
.article__body ol {
  padding-left: 0;
  list-style-type: none;
  counter-reset: num;
}
.article__body ol li {
  margin: 20px 0;
  position: relative;
}
.article__body ol li:before {
  content: counter(num) ")";
  counter-increment: num;
  display: inline-block;
  margin-right: 5px;
  color: #1F2223;
}
.article__body ol li span {
  display: block;
}
.article__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}
.article__btn-prev svg {
  margin-right: 10px;
}
.article__btn-next {
  margin-left: 20px;
}
.article__btn-next svg {
  margin-left: 10px;
}
.article__item {
  margin-bottom: 3px;
}
.article__trigger {
  padding: 17px 40px 17px 37px;
  background-color: #F7F9FD;
  position: relative;
}
.article__trigger:after {
  content: "";
  display: block;
  width: 13px;
  height: 7px;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.314 1L6.157 5.2L1 1' stroke='%23CCD2E3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 25px;
  right: 26px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.article__trigger:before {
  content: "";
  display: block;
  height: 100%;
  width: 3px;
  background-color: #00618E;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
}
.article__trigger.active:after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.article__trigger.active:before {
  opacity: 1;
}
.article__content {
  padding: 0 37px;
}
.article__accordion-list {
  list-style-type: none;
  padding-left: 0;
  font-size: 16px;
  line-height: 24px;
}
.article__accordion-list li {
  margin: 24px 0;
}
.article__accordion-list li a {
  color: #00618E;
}
.article__accordion-list li a.active {
  color: #1F2223;
}
@media (max-width: 1050px) {
  .article__trigger {
    padding: 15px 40px 15px 15px;
  }
  .article__content {
    padding: 0 15px;
  }
  .article__accordion-list {
    font-size: 14px;
    line-height: 18px;
  }
  .article__accordion-list li {
    margin: 10px 0;
  }
  .article__main {
    padding: 20px 15px;
  }
}
@media (max-width: 768px) {
  .article__flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .article__sidebar {
    width: 100%;
    margin-bottom: 20px;
  }
  .article__main {
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  .article__search-input {
    width: 100%;
    margin-right: 0;
  }
  .article__search-input input {
    border-radius: 6px 0 0 6px;
  }
  .article__search-btn {
    width: 50px;
  }
  .article__search-btn .btn {
    padding: 0;
    border-radius: 0 6px 6px 0;
  }
  .article__search-icon {
    width: 24px;
  }
  .article__head {
    font-size: 20px;
    line-height: 24px;
  }
  .article__buttons {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .article__btn-prev {
    width: 100%;
    margin-bottom: 10px;
  }
  .article__btn-next {
    width: 100%;
    margin-left: 0;
  }
}

/* /article */
/* team */
.team {
  padding-top: 20px;
}
.team .title {
  margin-bottom: 28px;
}
.team__col {
  width: 25%;
}
@media screen and (max-width: 1050px) {
  .team__col {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .team__col {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .team__col {
    width: 100%;
  }
}
.team__item {
  display: block;
  height: 100%;
  padding: 28px 27px 17px;
  background-color: #fff;
  border-radius: 6px;
  color: #1F2223;
  text-align: center;
}
.team__item:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.team__img {
  height: 299px;
  margin-bottom: 13px;
}
.team__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.team__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 12px;
}
.team__position {
  font-size: 14px;
  line-height: 18px;
}

/* /team */
/* person */
.person {
  padding-top: 18px;
}
.person__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.person__sidebar {
  width: 304px;
  margin-right: 30px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.person__item {
  margin-bottom: 30px;
}
.person__img {
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}
.person__content {
  padding: 17px 20px 20px;
  background-color: #fff;
  border-radius: 0 0 6px 6px;
}
.person__name {
  font-size: 32px;
  line-height: 38px;
}
.person__position {
  font-size: 14px;
  line-height: 22px;
  color: #A2ABB0;
  margin-bottom: 18px;
}
.person__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 9px;
}
.person__text {
  font-size: 14px;
  line-height: 18px;
}
.person__social {
  padding: 23px 20px;
  background-color: #fff;
  border-radius: 6px;
}
.person__main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 25px 31px 26px;
  background-color: #fff;
  border-radius: 6px;
  font-size: 14px;
  line-height: 18px;
}
.person__main h2, .person__main h3, .person__main h4, .person__main h5, .person__main h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 17px;
}
.person__main p {
  margin-bottom: 22px;
}
.person__main ol {
  padding-left: 30px;
  list-style-type: none;
  counter-reset: num;
}
.person__main ol li {
  position: relative;
}
.person__main ol li:before {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  color: #1F2223;
  position: absolute;
  left: -30px;
}
.person__main ol li:nth-child(-n+9):before {
  content: "0" counter(num);
}
@media (max-width: 1050px) {
  .person__flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .person__sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .person__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  .person__img {
    width: 300px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .person #socialTo {
    width: 100%;
  }
  .person__main {
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .person__item {
    display: block;
  }
  .person__img {
    width: 100%;
  }
}

/* /person */
/* header */
.header__calendar {
  position: relative;
}
.header__calendar-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 47px;
  height: 47px;
  margin-left: 10px;
  background: #F0F2F5;
  border-radius: 6px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header__calendar-btn .calendar-fill {
  fill: #CCD2E3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__calendar-btn .calendar-stroke {
  stroke: #CCD2E3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__calendar-btn:hover .calendar-fill, .header__calendar-btn.is-active .calendar-fill {
  fill: #00618E;
}
.header__calendar-btn:hover .calendar-stroke, .header__calendar-btn.is-active .calendar-stroke {
  stroke: #00618E;
}
.header__calendar-input {
  width: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.header__calendar-input:focus ~ .header__calendar-btn .calendar-fill {
  fill: #00618E;
}
.header__calendar-input:focus ~ .header__calendar-btn .calendar-stroke {
  stroke: #00618E;
}
.header__lk {
  position: relative;
}
.header__lk-drop {
  width: 300px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 12px 21px rgba(0, 34, 49, 0.2);
  box-shadow: 0px 12px 21px rgba(0, 34, 49, 0.2);
  border-radius: 6px;
  position: absolute;
  top: calc(100% + 9px);
  right: 0;
  z-index: 22;
  opacity: 0;
  -webkit-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  transform: translate(0, 10px);
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.header__lk-drop.open {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  visibility: visible;
}
.header__lk-title {
  padding: 23px 24px 19px 26px;
  border-bottom: 1px solid #DCE4E9;
  font-weight: 500;
}
.header__lk-list {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}
.header__lk-list li {
  border-bottom: 1px solid #DCE4E9;
}
.header__lk-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 15px 10px 26px;
  color: #1F2223;
}
.header__lk-list li a .header__lk-icon {
  margin-right: 15px;
}
.header__lk-list li a:hover {
  color: #00618E;
}
.header__lk-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: #F0F2F5;
  border-radius: 6px;
}
.header__lk-icon img {
  width: 20px;
  height: 20px;
}
.header__lk-text {
  padding: 10px 15px 10px 26px;
  font-size: 10px;
  line-height: 14px;
}
@media (max-width: 1200px) {
  .header__calendar {
    margin-left: auto;
  }
  .header__calendar-btn {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 500px) {
  .header__calendar {
    position: static;
  }
  .header__lk-drop {
    width: 290px;
  }
}

/* /header */
/* contact */
.contact {
  padding-top: 6px;
}
.contact .title {
  margin-bottom: 33px;
}
.contact__body {
  padding: 28px 24px 54px;
  background-color: #fff;
  border-radius: 6px;
}
.contact__sidebar {
  width: 41.6666666667%;
}
@media screen and (max-width: 768px) {
  .contact__sidebar {
    width: 100%;
  }
}
.contact__map {
  height: 340px;
}
.contact__main {
  width: 58.3333333333%;
}
@media screen and (max-width: 768px) {
  .contact__main {
    width: 100%;
  }
}
.contact__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
}
.contact__list {
  padding-left: 0;
  margin-bottom: 40px;
  list-style-type: none;
}
.contact__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 32px 0;
}
.contact__list li img, .contact__list li svg {
  width: 18px;
  margin-right: 17px;
  margin-top: 2px;
}
.contact__list li a {
  color: #00618E;
  border-bottom: 1px solid transparent;
}
.contact__list li a:hover {
  border-color: #00618E;
}
.contact__requisites {
  padding-left: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 39px;
}
.contact__text {
  font-size: 14px;
  line-height: 18px;
}
.contact__text p {
  margin: 20px 0;
}
.contact__text p span {
  display: block;
}
.contact__text p a {
  color: #00618E;
  border-bottom: 1px solid transparent;
}
.contact__text p a:hover {
  border-color: #00618E;
}
@media (max-width: 768px) {
  .contact__sidebar {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .contact__main {
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .contact__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .contact__list {
    margin-bottom: 25px;
  }
  .contact__list li {
    margin: 15px 0;
  }
  .contact__requisites {
    margin-bottom: 25px;
  }
  .contact__text p {
    margin: 10px 0;
  }
}

/* /contact */
.modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 22;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.modal_body {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}
.modal_content {
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  transform: translate(0, 20px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.modal_content--gray {
  background-color: #F0F2F5;
}
.modal_close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modal_close:after, .modal_close:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1F2223;
  position: absolute;
  top: 50%;
  left: 50%;
}
.modal_close:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal_close:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modal__head {
  padding: 22px 40px 20px 26px;
  padding-right: 40px;
  border-bottom: 1px solid #DCE4E9;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.modal.open {
  opacity: 1;
  visibility: visible;
}
.modal.open .modal_content {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* login */
.login {
  padding: 30px 26px;
}
.login__text {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
}
.login__row {
  margin-bottom: 20px;
}
.login .row {
  margin-top: -15px;
}
.login .row > * {
  padding-top: 15px;
}
.login__col {
  width: 50%;
}
.login__label {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.login__label span {
  color: red;
}
.login__input input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #CFD4D9;
  outline: none;
}
.login__approval {
  margin-top: 15px;
}
.login__approval-input {
  position: absolute;
  visibility: hidden;
}
.login__approval-input:checked ~ .login__approval-checkbox {
  background-color: #00618E;
}
.login__approval-input:checked ~ .login__approval-checkbox:after {
  opacity: 1;
}
.login__approval-checkbox {
  display: block;
  width: 15px;
  height: 15px;
  float: left;
  margin-top: 2px;
  margin-right: 5px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #CFD4D9;
  position: relative;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.login__approval-checkbox:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 7.5L6.25 11.25L12.5 3.75' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  position: absolute;
  top: 1px;
  left: 1px;
  opacity: 0;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.login__approval-text a {
  color: #00618E;
  border-bottom: 1px solid transparent;
}
.login__approval-text a:hover {
  border-color: #00618E;
}
.login__approval-text span {
  color: red;
}
.login__warning {
  color: #CB454B;
  margin-bottom: 10px;
}
.login__capcha-img {
  width: 100px;
  margin-bottom: 5px;
}
.login__capcha-input {
  width: 100px;
}
.login__btn {
  text-align: right;
}

/* /login */
/* favorite-modal */
.favorite-modal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 22px 22px 22px 26px;
  font-size: 14px;
  line-height: 18px;
}
.favorite-modal__item:not(:last-child) {
  border-bottom: 1px solid #DCE4E9;
}
.favorite-modal__item a {
  color: #00618E;
}
.favorite-modal__del {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21 6H3V9C4.10457 9 5 9.89543 5 11V15C5 17.8284 5 19.2426 5.87868 20.1213C6.75736 21 8.17157 21 11 21H13C15.8284 21 17.2426 21 18.1213 20.1213C19 19.2426 19 17.8284 19 15V11C19 9.89543 19.8954 9 21 9V6ZM10.5 11C10.5 10.4477 10.0523 10 9.5 10C8.94772 10 8.5 10.4477 8.5 11V16C8.5 16.5523 8.94772 17 9.5 17C10.0523 17 10.5 16.5523 10.5 16V11ZM15.5 11C15.5 10.4477 15.0523 10 14.5 10C13.9477 10 13.5 10.4477 13.5 11V16C13.5 16.5523 13.9477 17 14.5 17C15.0523 17 15.5 16.5523 15.5 16V11Z' fill='%23EC0101'/%3E%3Cpath d='M10.0681 3.37059C10.1821 3.26427 10.4332 3.17033 10.7825 3.10332C11.1318 3.03632 11.5597 3 12 3C12.4403 3 12.8682 3.03632 13.2175 3.10332C13.5668 3.17033 13.8179 3.26427 13.9319 3.37059' stroke='%23EC0101' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* /favorite-modal */
/* question-modal */
.question-modal {
  padding: 20px 26px;
}
.question-modal__textarea textarea {
  width: 100%;
  height: 166px;
  padding: 20px 22px;
  background-color: #fff;
  border-radius: 6px;
  border: none;
  outline: none;
  resize: none;
  margin-bottom: 20px;
}
.question-modal__buttons {
  padding-bottom: 27px;
  position: relative;
}
.question-modal__buttons:after {
  content: "";
  display: block;
  height: 1px;
  background-color: #DCE4E9;
  position: absolute;
  bottom: 0;
  left: -26px;
  right: -26px;
}
.question-modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.question-modal__buttons .btn {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.question-modal__file {
  margin-right: 10px;
}
.question-modal__file input {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.question-modal__file label {
  width: 100%;
}
.question-modal__text {
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
.question-modal__text p {
  margin: 20px 0;
}

/* /question-modal */
/* calc-block */
.calc-block {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
}
.calc-block__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 50px;
}
.calc-block__items .row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: -40px;
}
.calc-block__items .row > * {
  padding-left: 40px;
}
.calc-block__col {
  width: 25%;
}
@media screen and (max-width: 1050px) {
  .calc-block__col {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .calc-block__col {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .calc-block__col {
    width: 100%;
  }
}
.calc-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 50px 35px 60px;
  min-height: 476px;
  border: 2px solid #E1E1E1;
  text-align: center;
  position: relative;
}
.calc-block__icon {
  height: 95px;
  margin-bottom: 16px;
}
.calc-block__icon img {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
}
.calc-block__subtitle {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 12px;
}
.calc-block__text {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 12px;
}
.calc-block__btn {
  margin-top: auto;
}
.calc-block__btn .btn {
  width: 100%;
}
.calc-block__stickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: -2px;
}
.calc-block__sticker {
  padding: 7px 7px 7px 20px;
  margin-top: 10px;
  position: relative;
}
.calc-block__sticker:after {
  content: "";
  display: block;
  background-color: #F5F5F5;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  height: 100%;
  width: 10px;
  position: absolute;
  top: 0;
  left: -1px;
}
.calc-block__sticker--red {
  background-color: #D4202C;
  color: #fff;
}
.calc-block__sticker--blue {
  background-color: #00618E;
  color: #fff;
}
@media (max-width: 1200px) {
  .calc-block__items .row {
    margin-top: -20px;
    margin-left: -20px;
  }
  .calc-block__items .row > * {
    padding-left: 20px;
    padding-top: 20px;
  }
}
@media (max-width: 768px) {
  .calc-block {
    padding-top: 50px;
  }
  .calc-block__title {
    font-size: 30px;
  }
  .calc-block__subtitle {
    font-size: 22px;
  }
  .calc-block__item {
    min-height: 350px;
    padding: 30px 30px 40px;
  }
}

/* /calc-block */