doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="robots" content="noindex, nofollow")
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no" />

    <!-- Normalize CSS-->
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
    <!-- Fonts CSS-->
    <link rel="stylesheet" type="text/css" href="./css/fonts.css">
    <!-- Swiper CSS-->
    <link rel="stylesheet" type="text/css" href="./css/plugins/swiper.min.css">
    <!-- Style CSS-->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <!-- Index page CSS-->
    <link rel="stylesheet" type="text/css" href="./css/index-page.css">
    // Air Datepicker
    link(rel="stylesheet", href="css/plugins/air-datepicker.css")
    // Main CSS
    link(rel="stylesheet" href="css/main.css")

    block title

  body 

    block content

    <!--Jquery 3.3.1-->
    <script src="./js/librarys/jquery-3.3.1.min.js"></script>

    // Air Datepicker
    script(src="js/plugins/air-datepicker.js") 
    // Yandex map
    script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
    
    <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <!--Current-Device JS-->
    <script src="./js/plugins/current-device/device.js"></script>
    <!--InputMask JS-->
    <script src="./js/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!--Swiper JS-->
    <script src="./js/plugins/swiper/swiper.min.js"></script>
    <!--Script JS-->
    <script src="./js/main.js"></script>