// footer
<footer>
    <div class="new-container">
        <div class="footer">
            <div class="footer-nav flex-block">
                <a href="javascript: void(0)" class="footer-nav_link">Журнал</a>
                <a href="javascript: void(0)" class="footer-nav_link">44-ФЗ</a>
                <a href="javascript: void(0)" class="footer-nav_link">223-ФЗ</a>
                <a href="javascript: void(0)" class="footer-nav_link">Поставщикам</a>
                <a href="javascript: void(0)" class="footer-nav_link">НПА</a>
                <a href="javascript: void(0)" class="footer-nav_link">Шаблоны</a>
                <a href="javascript: void(0)" class="footer-nav_link">Полезные таблицы</a>
                <a href="javascript: void(0)" class="footer-nav_link">Вопрос-ответ</a>
                <a href="javascript: void(0)" class="footer-nav_link">Справочники</a>
                <a href="javascript: void(0)" class="footer-nav_link">Калькуляторы</a>
            </div>
        </div>
        <div class="footer-bottom flex-block">
            <div class="footer-bottom_info flex-block">
                <span>© ПРОГОСЗАКАЗ.РФ, 2016-2022<br>Нашли опечатку? Выделите и нажмите Ctrl+Enter<br><br>Сетевое издание ПРОГОСЗАКАЗ.РФ<br>Учредитель - Аршба А.С.<br>Главный редактор - Гурин О.Ю.<br>Свидетельство: ЭЛ № ФС 77-79650 от 25.12.2020г.<br>Зарегистрирован Федеральной службой РОСКОМНАДЗОР<br>
                </span>
                <span class="age">16+</span>
            </div>
            <!--  <div class="footer-divider"></div> -->
            <div class="footer-bottom-contacts flex-block">
                <div class="footer-bottom-contacts--heading">Служба технической поддержки:
                </div>
                <a href="tel:89001306979" class="footer-bottom-contacts--link phone flex-block">8 900 130 6979</a>
                <a href="mailto:progoszakaz@mail.ru" class="footer-bottom-contacts--link mail flex-block">progoszakaz@mail.ru</a>
                <a href="javascript: void(0)" class="footer-bottom-contacts--link rss flex-block">подписаться на RSS ленту</a>
            </div>
            <div class="footer-bottom_subscribe flex-block">
                <div class="footer-bottom_subscribe-inner flex-block">
                    <a href="javascript: void(0)" class="btn btn-blue btn-subscribe">Оформить подписку</a>
                    <div class="footer-bottom_develop flex-block">
                        <a href="javascript: void" class="link" target="_blank">oooartint.ru </a>
                        <span>разработка и поддержка интернет проектов</span>
                    </div>
                    <a href="javascript: void(0)" class="btn-top"><span></span></a>
                </div>
            </div>
        </div>
    </div>
</footer>
// /footer