// header
<header>
    <div class="header-top">
        <div class="new-container">
            <div class="header flex-block">
                <a href="/" class="header-logo">
                    <img src="./media/logo.svg" alt="">
                </a>
                <div class="header-search">
                    <div class="input-wrapper">
                        <input type="text" class="default-input search-input" placeholder="Поиск по сайту" name="search-input" id="search-input">
                        <a href="javascript: void(0)" class="btn-search"></a>
                    </div>
                </div>
                <a href="javascript: void(0)" class="btn btn-blue btn-private">
                    <span>Личный кабинет</span>
                </a>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="new-container">
            <a href="javascript: void(0)" class="menu-hamb"><span><span class="line"></span></span></a>
            <div class="header-nav flex-block">
                <a href="javascript: void(0)" class="header-nav_link">Журнал</a>
                <a href="javascript: void(0)" class="header-nav_link">44-ФЗ</a>
                <a href="javascript: void(0)" class="header-nav_link">223-ФЗ</a>
                <a href="javascript: void(0)" class="header-nav_link">Поставщикам</a>
                <a href="javascript: void(0)" class="header-nav_link">НПА</a>
                <a href="javascript: void(0)" class="header-nav_link">Шаблоны</a>
                <a href="javascript: void(0)" class="header-nav_link">Полезные таблицы</a>
                <a href="javascript: void(0)" class="header-nav_link">Вопрос-ответ</a>
                <a href="javascript: void(0)" class="header-nav_link">Справочники</a>
                <a href="javascript: void(0)" class="header-nav_link">Калькуляторы</a>
            </div>
        </div>
    </div>
</header>
// /header

