extends core/base.pug

block title 
  title Калькуляторы

block content

  include core/header.pug

  <main>

    .new-container
      
      // calc-block
      .calc-block

        .calc-block__title Калькуляторы НМЦК

        .calc-block__items 
          .row.gy
            .calc-block__col
              .calc-block__item 
                .calc-block__icon 
                  img(src="media/icons/calc.svg", alt="")
                .calc-block__subtitle Калькулятор НМЦК 
                .calc-block__text (Приказ 567)
                .calc-block__btn 
                  a(href="#").btn.btn-blue Начать расчет
            .calc-block__col
              .calc-block__item 
                .calc-block__icon 
                  img(src="media/icons/eagle.svg", alt="")
                .calc-block__subtitle Калькулятор НМЦК
                .calc-block__text (охрана)
                .calc-block__btn 
                  a(href="#").btn.btn-blue Начать расчет
            .calc-block__col
              .calc-block__item 
                .calc-block__icon 
                  img(src="media/icons/capsule.svg", alt="")
                .calc-block__subtitle Калькулятор НМЦК
                .calc-block__text (медицина Приказ 1064н)
                .calc-block__btn 
                  a(href="#").btn.btn-blue Начать расчет
            .calc-block__col
              .calc-block__item 
                .calc-block__icon 
                  img(src="media/icons/syringe.svg", alt="")
                .calc-block__subtitle Калькулятор НМЦК
                .calc-block__text (медицина Приказ 450н)
                .calc-block__btn 
                  a(href="#").btn.btn-blue Начать расчет
      // /calc-block

      // calc-block
      .calc-block

        .calc-block__title Мониторинг и оценка

        .calc-block__items 
          .row.gy
            .calc-block__col
              .calc-block__item 
                .calc-block__icon 
                  img(src="media/icons/verify.svg", alt="")
                .calc-block__subtitle Проверка контрагентов
                .calc-block__btn 
                  a(href="#").btn.btn-blue Начать расчет
            .calc-block__col
              .calc-block__item 
                .calc-block__icon 
                  img(src="media/icons/eagle2.svg", alt="")
                .calc-block__subtitle Поиск по решениям УФАС
                .calc-block__btn 
                  a(href="#").btn.btn-blue Начать расчет
            .calc-block__col
              .calc-block__item 
                .calc-block__stickers 
                  .calc-block__sticker.calc-block__sticker--red новинка
                .calc-block__icon 
                  img(src="media/icons/chart.svg", alt="")
                .calc-block__subtitle Модуль оценки заявок
                .calc-block__text (электронный конкурс)
                .calc-block__btn 
                  a(href="#").btn.btn-gray Начать расчет
      // /calc-block

      // calc-block
      .calc-block

        .calc-block__title Калькуляторы сроков

        .calc-block__items 
          .row.gy
            .calc-block__col
              .calc-block__item 
                .calc-block__icon 
                  img(src="media/icons/calendar2.svg", alt="")
                .calc-block__subtitle Калькулятор сроков электронный запрос котировок
                .calc-block__btn 
                  a(href="#").btn.btn-blue Начать расчет
            .calc-block__col
              .calc-block__item 
                .calc-block__icon 
                  img(src="media/icons/hammer.svg", alt="")
                .calc-block__subtitle Калькулятор сроков электронный аукцион
                .calc-block__btn 
                  a(href="#").btn.btn-blue Начать расчет
            .calc-block__col
              .calc-block__item 
                .calc-block__icon 
                  img(src="media/icons/balance.svg", alt="")
                .calc-block__subtitle Калькулятор сроков электронный конкурс
                .calc-block__btn 
                  a(href="#").btn.btn-blue Начать расчет
      // /calc-block

      // calc-block
      .calc-block

        .calc-block__title Прочие инструменты

        .calc-block__items 
          .row.gy
            .calc-block__col
              .calc-block__item 
                .calc-block__icon 
                  img(src="media/icons/coin.svg", alt="")
                .calc-block__subtitle Калькулятор пени и штрафов ПП 1042
                .calc-block__btn 
                  a(href="#").btn.btn-blue Начать расчет
            .calc-block__col
              .calc-block__item 
                .calc-block__icon 
                  img(src="media/icons/notepad.svg", alt="")
                .calc-block__subtitle Размер обеспечения заявки на участие в конкурентных процедурах
                .calc-block__btn 
                  a(href="#").btn.btn-blue Начать расчет
            .calc-block__col
              .calc-block__item 
                .calc-block__icon 
                  img(src="media/icons/hands.svg", alt="")
                .calc-block__subtitle Размер обеспечения исполнения контракта
                .calc-block__btn 
                  a(href="#").btn.btn-blue Начать расчет
            .calc-block__col
              .calc-block__item 
                .calc-block__icon 
                  img(src="media/icons/building.svg", alt="")
                .calc-block__subtitle Обоснование НМЦК на выполнение строительных работ
                .calc-block__btn 
                  a(href="#").btn.btn-blue Начать расчет
      // /calc-block
      
  </main>

  include core/footer.pug
