extends core/base.pug

block title 
  title Навигация по страницам

block content

  include core/header.pug

  <main>

    .new-container
      .navpage 
        .heading.heading-black Навигация по страницам
        ul 
          li 
            a(href="home.html") Главная
          li 
            a(href="arhiv.html") Архив вебинаров
      
  </main>

  include core/footer.pug
