extends core/base.pug

block title 
  title Навигация по страницам

block content

  include core/header.pug

  <main>

    .new-container
      .navpage 
        .heading.heading-black Навигация по страницам
        ul 
          li 
            a(href="home.html") Главная
          li 
            a(href="arhiv.html") Архив вебинаров
          li 
            a(href="faq.html") Вопрос-ответ
          li 
            a(href="journal.html") Журнал
          li 
            a(href="webinar.html") Вебинар
          li 
            a(href="article.html") Статья
      
  </main>

  include core/footer.pug
