extends core/base.pug

block title 
  title Журнал

block content

  include core/header.pug

  <main>

    .new-container

      // breadcrumbs
      .breadcrumbs
        ul 
          li 
            a(href="#") Главная
          li 
            a(href="#") Периодика
          li 
            a(href="#") Печатный журнал ПРОГОСЗАКАЗ.РФ
          li 
            a(href="#") Свежий Номер
          li 
            span Содержание номера
      // /breadcrumbs
      
      // journal
      .journal
        h1.title Журнал ПРОГОСЗАКАЗ.РФ №05/2022
        .journal__filter 
          .row.gy 
            .journal__input 
              .input 
                .input__label Номер журнала
                .input__select.input__select--icon 
                  select(name="#") 
                    option(value="#") 05
                    option(value="#") 06
                    option(value="#") 07
                  .input__icon 
                    svg(width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M11.314 1L6.157 5.2L1 1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            .journal__input 
              .input 
                .input__label Год
                .input__input.input__input--icon
                  input(type="text" autocomplete="off")#datepickerYear
                  .input__icon 
                    img(src="media/icons/calendar.svg", alt="")
        .journal__body 
          .journal__sidebar 
            .journal__img 
              img(src="media/img/cover.jpg", alt="")
            .journal__menu 
              h2.journal__menu-title Содержание
              ol.journal__menu-list
                li 
                  a(href="#") Статья на тему «Обзор изменений, внесенных в Закон № 44-ФЗ в апреле 2022 года»
                li
                  a(href="#") Статья на тему «Императивный срок оплаты по договорам, заключенным по результатам закупки, и негативные последствия его введения»
                li
                  a(href="#") Статья на тему «Требование о совместимости при закупке медицинских изделий по Закону № 44-ФЗ»
                li
                  a(href="#") Статья на тему «Некоторые особенности формул для оценки заявок, предусмотренных постановлением Правительства РФ от 31.12.2021 № 2604»
                li
                  a(href="#") Статья на тему «Обзор некоторых правовых позиций Верховного Суда РФ по делам, связанным с применением законодательства о закупках, за I квартал 2022 года»
                li
                  a(href="#") Ответы на вопросы
                li
                  a(href="#") Закупочные премудрости. Конная полиция
          .journal__main 
            h2.journal__head Статья на тему «Обзор изменений, внесенных в Закон № 44-ФЗ в апреле 2022 года»
            .journal__text 
              p Правительство продолжает поддерживать сферу закупок в условиях санкций: в апреле приняты новые законы, которые корректируют 44-ФЗ. Рассказываем, какие нормы уже вступили в силу и какие будут действовать c 1 июля 2022.
              h3 Что уже действует в 44-ФЗ
              h4 Сократили сроки оплаты
              p Законодатели установили новые сроки оплаты по контрактам — теперь поставщики смогут получать деньги быстрее. Новые сроки зависят от вида заказчика, типа закупки и вступают в силу в разное время.
              p Федеральные заказчики — органы исполнительной власти, автономные и бюджетные учреждения — уже живут по новым правилам. Для всех остальных заказчиков пока действуют прежние сроки. Переход на срок оплаты в 7 рабочих дней произойдет в закупках, опубликованных с 1 июля 2022 года.
              p Не упустите, что срок считается с даты подписания заказчиком документа о приемке.
              p Исключения: закупки для поддержания обороноспособности и безопасности государства. Для них сроки устанавливаются отдельными нормативными актами.
              h4 Запретили иностранную валюту при расчете НМЦ
              p Для определения и обоснования начальной цены контракта (НМЦ), а также цены контракта с единственным поставщиком нельзя использовать иностранную валюту. Исключение есть лишь для заказчиков, которые работают на территории иностранных государств. Например, для консульских учреждений, дипломатических и торговых представительств РФ (статью 22 44-ФЗ дополнили частью 18.1). Из закона также убрали понятие «заказчик, зарегистрированный на территории иностранного государства» (скорректировали п. 7.1 ст. 3 44-ФЗ).
              h4 Разрешили не устанавливать обеспечение
              p До 31 декабря 2022 заказчики могут не требовать от участников обеспечения исполнения контракта и гарантийных обязательств. При этом освобождать от обеспечения нельзя, если контракт подразумевает аванс без казначейского сопровождения (ст. 112 44-ФЗ дополнили частью 64.1).
              h4 Включили сведения о казначейском сопровождении в извещение
              p В извещении о закупке заказчики наряду с информацией о банковском сопровождении контракта должны указывать сведения о казначейском сопровождении, если оно предполагается в закупке (уточнили п. 18 ст. 42 44-ФЗ).
              h4 Увеличили срок на подготовку проекта контракта в запросе котировок
              p В запросе котировок теперь у заказчиков на формирование проекта контракта есть один рабочий день вместо трех часов (скорректировали п. 1 ч. 6 ст. 50 44-ФЗ).
              h4 Расширили применение закрытых закупок
              p Заказчики, которые попали под санкции и ограничения недружественных стран, будут определять поставщика закрытым способом (уточнили п. 5 ч. 11 ст. 24 44-ФЗ). Перечень заказчиков определит Правительство РФ. Такие заказчики по итогам года не составляют отчет об объеме закупок у малого бизнеса и социально ориентированных некоммерческих организаций (уточнили ч. 4 ст. 30 44-ФЗ).Заказчики, которые попали под санкции и ограничения недружественных стран, будут определять поставщика закрытым способом (уточнили п. 5 ч. 11 ст. 24 44-ФЗ). Перечень заказчиков определит Правительство РФ. Такие заказчики по итогам года не составляют отчет об объеме закупок у малого бизнеса и социально ориентированных некоммерческих организаций (уточнили ч. 4 ст. 30 44-ФЗ).
              h4 Добавили медизделия в контракты на нормальное жизнеобеспечение граждан
              p В определение контракта на поставку товаров для нормального жизнеобеспечения граждан добавили медизделия и технические средства реабилитации (скорректировали ч. 8.3 ст. 3 44-ФЗ). Заключать такие контракты можно по итогам запроса котировок, который проводят в общем порядке: теперь не обязательно, чтобы до этого была сорвана процедура торгов (уточнили пп. «а» п. 2 ч. 10 ст. 24).
              h4 Уточнили состав заявки в электронном конкурсе
              p Если заказчик в извещении не установил такие критерии оценки, как расходы на эксплуатацию и ремонт товаров, использование результатов работ (п. 2 ч. 1 ст. 32 44-ФЗ), качественные, функциональные и экологические характеристики объекта закупки (п. 3 ч. 1 ст. 32), то заявка будет состоять из второй и третьей частей.
              p Во второй части заявки поставщику нужно указать страну происхождения (пп. «б» п. 2 ч. 1 ст. 43), характеристики предлагаемого товара, которые соответствуют показателям, установленным в описании объекта закупки, и товарный знак, если у товара он есть (пп «а» п. 2 ч. 1 ст. 43 44-ФЗ). Характеристики не указывают, если в описании объекта закупки есть проектная документация или смета на капремонт (уточнили п. 1 ч. 19 ст. 48 44-ФЗ).
      // /journal
      
  </main>

  include core/footer.pug
