extends core/base.pug

block title 
  title Всплывающие окна

block content

  include core/header.pug

  <main>

    .new-container
      .navpage 
        .heading.heading-black Всплывающие окна
        ul 
          li 
            span(data-modal="#modal-1").modal-trigger Регистрация
          li 
            span(data-modal="#favorite").modal-trigger Избранные категории
          li 
            span(data-modal="#question").modal-trigger Задать вопрос
      
  </main>

  // modal registration
  .modal#modal-1
    .modal_body
      .modal_content
        .modal__head Регистрационная форма
        // login
        form(action="#").login
          .login__text Подписка и доступ к сервисам журнала и сайта Прогосзаказ.РФ
          .login__row 
            .row 
              .login__col 
                .login__input 
                  .login__label Наименование организации 
                    span *
                  input(type="text")
              .login__col 
                .login__input 
                  .login__label ИНН организации 
                    span *
                  input(type="text")
          .login__text Данные о пользователе, которому предоставляется право доступа к указанному порталу
          .login__row 
            .row
              .login__col 
                .login__input 
                  .login__label Имя 
                    span *
                  input(type="text")
              .login__col 
                .login__input 
                  .login__label Телефон 
                    span *
                  input(type="text")
              .login__col 
                .login__input 
                  .login__label Отчество 
                    span *
                  input(type="text")
              .login__col 
                .login__input 
                  .login__label Email 
                    span *
                  input(type="text")
              .login__col 
                .login__input 
                  .login__label Фамилия 
                    span *
                  input(type="text")
              .login__col 
              .login__col 
                .login__input 
                  .login__label Промо код 
                    span *
                  input(type="text")
              .login__col 
            .login__approval 
              input#approval(type="checkbox" checked).login__approval-input
              label(for="approval").login__approval-checkbox
              .login__approval-text Нажимая кнопку "отправить", я даю согласие на обработку своих персональных данных в соответствии с 
                a(href="#") Политикой конфиденциальности 
                |  и 
                a(href="#") Пользовательским соглашением. 
                span *
          .login__warning Поля, отмеченные звездочкой (*), обязательны для заполнения.
          .login__capcha 
            .login__capcha-img 
              img(src="media/img/capcha.png", alt="")
            .login__capcha-input 
              .login__input 
                input(type="text")
          .login__btn 
            button(type="submit").btn.btn-blue ОТПРАВИТЬ
        // /login
        .modal_close.js-modal-close
  // /modal registration

  // modal favorite
  .modal#favorite
    .modal_body
      .modal_content
        .modal__head Избранные категории
        // favorite-modal
        .favorite-modal
          .favorite-modal__item 
            a(href="#") Калькулятор НМКЦ (Калькуляторы НМКЦ)
            .favorite-modal__del 
          .favorite-modal__item 
            a(href="#") Калькулятор НМКЦ (охрана) (Калькуляторы НМКЦ)
            .favorite-modal__del 
          .favorite-modal__item 
            a(href="#") Проверка контрагентов (Прочие калькуляторы)
            .favorite-modal__del 
          .favorite-modal__item 
            a(href="#") Шпаргалка по ПП РФ 2571 (Справочник)
            .favorite-modal__del 
        // /favorite-modal
        .modal_close.js-modal-close
  // /modal favorite

  // modal question
  .modal#question
    .modal_body
      .modal_content.modal_content--gray
        .modal__head Задать вопрос
        // question-modal
        form(action="#").question-modal
          .question-modal__textarea 
            textarea
          .question-modal__buttons 
            .question-modal__file
              input#fileAttach(type="file", name="") 
              label(for="fileAttach").btn.btn-border  Прикрепить
            button(type="submit").btn.btn-blue Отправить
          .question-modal__text 
            p * Перед тем как задавать вопрос нам, Вы можете зайти в раздел Вопрос-ответ и знакомиться с ранее заданными вопросами и ответами на них. Возможно, ваш вопрос задавался ранее.
            p * Прикреплять файлы можно только таких форматов: pdf, ppt, doc, docx, xls, xlsx, jpg, jpeg, gif, png, bmp, rar, zip. Максимальный размер файла: 512 Мб.
        // /question-modal
        .modal_close.js-modal-close
  // /modal question

  include core/footer.pug
