extends core/base.pug

block title 
  title Страница резюме человека

block content

  include core/header.pug

  <main>

    .new-container

      // breadcrumbs
      .breadcrumbs
        ul 
          li 
            a(href="#") Главная
          li 
            a(href="#") О Нас
          li 
            a(href="#") Главный редактор
          li 
            span Гурин Олег Юрьевич
      // /breadcrumbs
      
      // person
      .person
        .person__flex 
          .person__sidebar 
            .person__item 
              .person__img 
                img(src="media/img/team/img2.jpg", alt="")
              .person__content 
                h1.person__name Гурин Олег Юрьевич
                .person__position Главный редактор
                .person__title Основное образование
                .person__text ФГКОУ ВПО "Ростовский юридический институт МВД РФ", 2005-2011, юрист по специальности "юриспруденция", диплом с отличием ВСА 0811912, рег. № 730, выдан 30.06.2011.
            #socialFrom
              .person__social#social
                .person__title Поделиться
                .webinar__social-items 
                  a(href="#").webinar__social-item 
                    .webinar__social-icon 
                      img(src="media/icons/vk.svg", alt="")
                    span Вконтакте
                  a(href="#").webinar__social-item 
                    .webinar__social-icon 
                      img(src="media/icons/ok.svg", alt="")
                    span Telegram
                  a(href="#").webinar__social-item 
                    .webinar__social-icon 
                      img(src="media/icons/tg.svg", alt="")
                    span Одноклассники
                  a(href="#").webinar__social-item 
                    .webinar__social-icon 
                      img(src="media/icons/tw.svg", alt="")
                    span Twitter
          .person__main 
            h2 Дополнительное образование
            p ФГАОУ ВПО «Южный федеральный университет», Профессиональная переподготовка (550 часов) по федеральной программе подготовки управленческих кадров для организаций народного хозяйства Российской Федерации по направлению «Менеджмент», диплом о профессиональной переподготовке 612400693631, рег. № 412.18-31/11, выдан 30.12.2013
            h2 Опыт работы в сфере закупок
            p Январь 2017 – наст. вр.: заместитель директора АНО ДПО «Учебный центр «ПРОГОСЗАКАЗ»
            p Апрель 2016 - наст. вр.: главный редактор журнала "ПРОГОСЗАКАЗ.РФ" (10 000 подписчиков).
            p Июль 2014 - апрель 2016: ведущий специалист сектора контрактной службы министерства общего и профессионального образования Ростовской области (180 подведомственных учреждений).
            p Август 2011- июль 2014: начальник отдела закупок и материально-технического снабжения МБУЗ ЦРБ Аксайского района (совокупный годовой объем закупок 200 млн. руб.).
            h2 Опыт обучения специалистов в сфере закупок
            p Старший преподаватель по программе дополнительного профессионального образования (повышение квалификации) «Управление закупками для обеспечения государственных и муниципальных нужд» (120 часов), Центр дополнительного профессионального образования Торгово-промышленной палаты Ростовской области, 2014 - наст. вр.
            p Преподаватель по программе дополнительного профессионального образования (повышение квалификации) "Управление закупками в контрактной системе. Обеспечение деятельности контрактных управляющих" (120 часов), ФГБОУ ВО «РАНХиГС при Президенте РФ» (Южно-Российский институт управления), 2015 - 2017.
            p Заместитель директора АНО ДПО «Учебный центр «ПРОГОСЗАКАЗ», автор и ведущий курсов повышения квалификации и профессиональной переподготовки по программе дополнительного профессионального образования «Управление закупками для обеспечения государственных и муниципальных нужд», янв. 2017 – наст. вр.
            h2 Профессиональные достижения
            p Один из создателей, с 14.04.2016 – главный редактор экспертного журнала "ПРОГОСЗАКАЗ.РФ" для специалистов в сфере закупок. Журнал снискал признание среди специалистов в сфере закупок, получил высокие оценки федеральных органов государственной власти и органов государственной власти субъектов Российской Федерации, образовательных организаций, известных экспертов в области регламентированных закупок.
            p Автор многочисленных публикаций в журналах «Госзаказ: управление, размещение, обеспечение» (журнал НИУ ВШЭ), «ПРОГОСЗАКАЗ.РФ», «Путеводитель российского бизнеса» (журнал МИМОП ТПП РФ), «Аукционный Вестник» (см. перечень ниже). С 2015 года – постоянный докладчик на Всероссийских практических конференциях-семинарах «Государственные и муниципальные закупки» (организатор – Институт госзакупок под руководством А.А. Храмкина), на конференциях «Публичные закупки: проблемы правоприменения» (организатор – МГУ им. М.В. Ломоносова).
            h2 Перечень публикаций по актуальным проблемам государственных закупок (в хронологическом порядке)
            ol 
              li Зибзеева Е.В., Гурин О.Ю. Проблемы планирования закупок у единственного поставщика (подрядчика, исполнителя) // Контрактная система: итоги работы и направления совершенствования. Материалы IV международной научно-практической конференции / Южно-Российский институт-филиал РАНХиГС: Сборник статей. Ростов н/Д: Профпресс, 2014. – 300 с. С. 54-59.
              li Гурин О.Ю., Аршба К.А. Учёт обязательных требований к продукции при определении               подлежащих достижению результатов обеспечения государственных и муниципальных нужд //               Государственные и муниципальные закупки – 2015. Сборник докладов Х Всероссийской              практической конференции-семинара. – М.: ИД «Юриспруденция», 2015. – 504 с. С. 39-5
              li Зибзеева Е.В., Гурин О.Ю. К вопросу о надлежащей расстановке приоритетов при              определении целей регулирования закупочной деятельности // Трансформация закупочной             системы и современное публичное управление. Сборник статей международной              научно-практической конференции [Текст, таблицы, схемы] / Южно-Российский институт            управления-филиал РАНХиГС. – Ростов н/Д.: Изд-во АкадемЛит, 2015. 320 с. С. 22-27.            Доступно по ссылке: http://uriu.ranepa.ru/ additional-education/training-in-procurement/item/download/ 4183_ 3253a3ca69bac4775b 2fe553b4a4c376.html
              li Вовченко Н.Г., Епифанова Т.В., Гурин О.Ю. Особенности формирования федеральной              контрактной системы США: организационно-институциональный аспект // Вестник             Волгоградского государственного университета. Серия 3: Экономика. Экология. № 2, 2015.              С. 105-115.
              li Гурин О.Ю. Изменение количества поставляемых товаров (объёма выполняемых работ,               оказываемых услуг) по контрактам, заключённым в соответствии с Законом № 44-ФЗ //               Профессионал Дон-Консультант, № 11 (2015). С. 32-36.
              li Гурин О.Ю. К вопросу об изменении предмета контракта, заключённого в соответствии с               Законом № 44-ФЗ // Профессионал Дон-Консультант, № 12 (2015). С. 28-31.
              li Гурин О.Ю. О предоставлении индивидуальными предпринимателями своих паспортных данных в               составе заявки на участие в закупке // Аукционный Вестник, № 268 (11.218) от 20.11.             2015. С. 1-2.
              li Гурин О.Ю. Особенности использования отдельных способов определения поставщика при              осуществлении закупок пищевой продукции // ПРОГОСЗАКАЗ.РФ, № 1 (2015). С. 4-2
              li Абдулазизова С.Л., Гурин О.Ю. Применение национального режима при осуществлении закупок               пищевой продукции // ПРОГОСЗАКАЗ.РФ, № 1 (2015). С. 29-43.
              li Кравцов А.Д., Гурин О.Ю. Соблюдение антимонопольных требований к торгам при               осуществлении закупок пищевой продукции // ПРОГОСЗАКАЗ.РФ, № 1 (2015). С. 44-70.
              li Приз Е.В., Гурин О.Ю., Полякова Л.Л. Нормативно-правовое регулирование в сфере              обращения пищевых продуктов: что нужно знать заказчику // ПРОГОСЗАКАЗ.РФ, № 1 (2015).             С. 71-104.
              li Баранов Н.В., Гурин О.Ю. Практические проблемы реализации норм об обеспечении               исполнения контракта // ПРОГОСЗАКАЗ.РФ, № 2 (2015). С. 7-37.
              li Козлова Е.В., Гурин О.Ю. Запрет на закупку лекарственных препаратов в соответствии с их               торговыми наименованиями // ПРОГОСЗАКАЗ.РФ, № 2 (2015). С. 38-55.
              li Кравцов А.Д., Гурин О.Ю. Запрет на включение в описание лекарственных препаратов              характеристик, ограничивающих круг потенциальных участников закупки // ПРОГОСЗАКАЗ.РФ,              № 2 (2015). С.56-93.
              li Полякова Л.Л., Гурин О.Ю. Обязательные требования к участникам закупок при              осуществлении закупок лекарственных препаратов // ПРОГОСЗАКАЗ.РФ, № 2 (2015). С. 94-114.
              li Исмагилова Е.В., Гурин О.Ю. Документы, подтверждающие соответствие лекарственных              препаратов установленным в их отношении обязательным требованиям: что необходимо знать              заказчику // ПРОГОСЗАКАЗ.РФ, № 2 (2015). С. 115-124.
              li Гурин О.Ю. Изменяем условия контракта при его исполнении // ПРОГОСЗАКАЗ.РФ, № 3 (2015).               С. 22-46.
              li Гурин О.Ю. Объединить нельзя разделить: строительные работы и работы по монтажу               пожарной сигнализации как единый объект закупки // ПРОГОСЗАКАЗ.РФ, № 3 (2015). С. 69-87.
              li Гурин О.Ю. Строительные работы и поставка оборудования: закупаем вместе или порознь? //               ПРОГОСЗАКАЗ.РФ, № 1 (2016). С. 60-82.
              li Поздняков В.В., Гурин О.Ю. Заключаем контракт на выполнение строительных работ с              подрядчиком-«упрощенцем»: что делать с НДС? // ПРОГОСЗАКАЗ.РФ, № 1 (2016). С. 30-59.
              li Зибзеева Е.В., Гурин О.Ю. Цели регулирования закупочной деятельности: расстановка               приоритетов // ПРОГОСЗАКАЗ.РФ, № 1 (2016). С. 24-29.
              li Гурин О.Ю. Неустойка: начислить, взыскать, списать // ПРОГОСЗАКАЗ.РФ, № 2 (2016). С.              4-38.
              li Гурин О.Ю. Закупаем услуги связи // ПРОГОСЗАКАЗ.РФ, № 2 (2016). С. 61-96.
              li Гурин О.Ю. Рассматриваем документы из реестра аккредитованных участников электронного               аукциона // ПРОГОСЗАКАЗ.РФ, № 3 (2016). С. 33-80.
              li Гурин О.Ю. Закупки услуг ОСАГО // ПРОГОСЗАКАЗ.РФ, № 4 (2016). С. 35-59.
              li Гурин О.Ю. Контракт на поставку пищевых продуктов: как обеспечить их безопасность //              ПРОГОСЗАКАЗ.РФ, № 4 (2016). С. 73-80.
              li Гурин О.Ю. Что делать, если начальная (максимальная) цена контракта превышает лимиты              бюджетных обязательств? // ПРОГОСЗАКАЗ.РФ, № 5 (2016). С. 39-46.
              li Гурин О.Ю. Закупки услуг по охране объектов, на которые не распространяется частная               охранная деятельность // ПРОГОСЗАКАЗ.РФ, № 5 (2016). С. 52-79.
              li Гурин О.Ю. Закупки услуг по охране объектов, на которые распространяется частная              охранная деятельность // ПРОГОСЗАКАЗ.РФ, № 6 (2016). С. 50-80.
              li Гурин О.Ю. Ударим по кризису изменением условий контракта: практика применения ч. 1.1               ст. 95 Закона № 44-ФЗ // ПРОГОСЗАКАЗ.РФ, № 7 (2016). С. 40-63.
              li Гурин О.Ю. Важнейшие изменения в контрактной системе, произошедшие в июле 2016 года //              ПРОГОСЗАКАЗ.РФ, № 8 (2016). С. 77-93.
              li Гурин О.Ю. Средства оценки профессиональных квалификаций специалистов в сфере закупок:              какими они должны быть? // Аукционный Вестник, № 298 (07.248) от 08.07.2016. С. 1-3.
              li Гурин О.Ю. Обеспечение исполнения контракта: как заказчику следует им распорядиться? //               Аукционный Вестник, № 296 (06.246) от 24.06.2016. С. 1-3. Гурин О.Ю. Избегаем               ограничения конкуренции при закупках услуг связи // Аукционный Вестник, № 275 (01.225)              от 22.01.2016. С. 3-4.
              li Гурин О.Ю. Контракт с подрядчиком, применяющим УСН: платить НДС или не платить? //              Аукционный Вестник, № 278 (02.228) от 12.02.2016. С. 2-3.

          #socialTo

      // /person
      
  </main>

  include core/footer.pug
