extends core/base.pug

block title 
  title Редакционный совет

block content

  include core/header.pug

  <main>

    .new-container

      // breadcrumbs
      .breadcrumbs
        ul 
          li 
            a(href="#") Главная
          li 
            a(href="#") Региональное законодательство
          li 
            a(href="#") Редакционный совет и эксперты
          li 
            span Редакционный совет и эксперты
      // /breadcrumbs
      
      // team
      .team
        .title Редакционный совет
        .team__items 
          .row.gy
            .team__col 
              mixin team-item(img, name, position)
                a(href="#").team__item 
                  .team__img 
                    img(src= img, alt="")
                  .team__name!= name
                  .team__position= position 
              +team-item('media/img/team/img1.jpg', 'Аршба Константин <br>Алексеевич', 'учредитель и руководитель проекта “ПРОГОСЗАКАЗ.РФ”, эксперт по антикоррупционной экспертизе НПА РФ, аккредитованный Министерством юстиции РФ')
            .team__col 
              +team-item('media/img/team/img2.jpg', 'Гурин Олег <br>Юрьевич', 'преподаватель, главный редактор журнала “ПРОГОСЗАКАЗ.РФ”')
            .team__col 
              +team-item('media/img/team/img3.jpg', 'Никитина Ольга <br>Евгеньевна', 'специалист в сфере закупок, член экспертного совета проекта "ПРОГОСЗАКАЗ.РФ"')
            .team__col 
              +team-item('media/img/team/img4.jpg', 'Хачатурян Лена <br>Грачиковна', 'специалист в сфере закупок, член экспертного совета проекта "ПРОГОСЗАКАЗ.РФ"')
            .team__col 
              +team-item('media/img/team/img5.jpg', 'Аршба Константин <br>Алексеевич', 'учредитель и руководитель проекта “ПРОГОСЗАКАЗ.РФ”, эксперт по антикоррупционной экспертизе НПА РФ, аккредитованный Министерством юстиции РФ')
            .team__col 
              +team-item('media/img/team/img6.jpg', 'Гурин Олег <br>Юрьевич', 'преподаватель, главный редактор журнала “ПРОГОСЗАКАЗ.РФ”')
            .team__col 
              +team-item('media/img/team/img7.jpg', 'Никитина Ольга <br>Евгеньевна', 'специалист в сфере закупок, член экспертного совета проекта "ПРОГОСЗАКАЗ.РФ"')
            .team__col 
              +team-item('media/img/team/img8.jpg', 'Хачатурян Лена <br>Грачиковна', 'специалист в сфере закупок, член экспертного совета проекта "ПРОГОСЗАКАЗ.РФ"')
            .team__col 
              +team-item('media/img/team/img1.jpg', 'Аршба Константин <br>Алексеевич', 'учредитель и руководитель проекта “ПРОГОСЗАКАЗ.РФ”, эксперт по антикоррупционной экспертизе НПА РФ, аккредитованный Министерством юстиции РФ')
            .team__col 
              +team-item('media/img/team/img2.jpg', 'Гурин Олег <br>Юрьевич', 'преподаватель, главный редактор журнала “ПРОГОСЗАКАЗ.РФ”')
            .team__col 
              +team-item('media/img/team/img3.jpg', 'Никитина Ольга <br>Евгеньевна', 'специалист в сфере закупок, член экспертного совета проекта "ПРОГОСЗАКАЗ.РФ"')
            .team__col 
              +team-item('media/img/team/img4.jpg', 'Хачатурян Лена <br>Грачиковна', 'специалист в сфере закупок, член экспертного совета проекта "ПРОГОСЗАКАЗ.РФ"')
            .team__col 
              +team-item('media/img/team/img5.jpg', 'Аршба Константин <br>Алексеевич', 'учредитель и руководитель проекта “ПРОГОСЗАКАЗ.РФ”, эксперт по антикоррупционной экспертизе НПА РФ, аккредитованный Министерством юстиции РФ')
            .team__col 
              +team-item('media/img/team/img6.jpg', 'Гурин Олег <br>Юрьевич', 'преподаватель, главный редактор журнала “ПРОГОСЗАКАЗ.РФ”')
            .team__col 
              +team-item('media/img/team/img7.jpg', 'Никитина Ольга <br>Евгеньевна', 'специалист в сфере закупок, член экспертного совета проекта "ПРОГОСЗАКАЗ.РФ"')
            .team__col 
              +team-item('media/img/team/img8.jpg', 'Хачатурян Лена <br>Грачиковна', 'специалист в сфере закупок, член экспертного совета проекта "ПРОГОСЗАКАЗ.РФ"')
      // /team
      
  </main>

  include core/footer.pug
