extends core/base.pug

block title 
  title Навигация по страницам

block content

  include core/header.pug

  <main>

    .new-container

      // about
      .about
        .row 
          .about__col 

            .about__block 
              .about__text 
                h2 Обзор сервиса ПРОГОСЗАКАЗ.РФ: для чего подходит и какие задачи помогает решить
                p Сервис ПРОГОССАКАЗ.РФ – это российская электронная информационная система для специалистов в области государственных закупок. Интуитивно понятный интерфейс, удобное меню, шаблоны документов, множество опций и полезных приложений – вот лишь часть возможностей платформы.
                p В статье расскажем о сервисе ПРОГОСЗАКАЗ.РФ и объясним, какие задачи можно решить с его помощью.

          .about__col.about__col--half 

            .about__block 
              .about__text 
              .about__text 
                h2 ПРОГОСЗАКАЗ.РФ – что это такое
                p Многофункциональная платформа ПРОГОСЗАКАЗ.РФ представляет собой экспертную электронную систему для специалистов в сфере госзакупок.
                p Здесь вы найдёте актуальные документы:
              .about__list 
                ul 
                  li 
                    a(href="#") 
                      img(src="media/icons/notepad-2.svg", alt="")
                      span нормативные акты и документы
                  li 
                    a(href="#") 
                      img(src="media/icons/folder.svg", alt="")
                      span шаблоны жалоб, обращений и других документов
                  li 
                    a(href="#") 
                      img(src="media/icons/emblem.svg", alt="")
                      span справочники
                  li 
                    a(href="#") 
                      img(src="media/icons/notepad-3.svg", alt="")
                      span экспертные рекомендации
                  li 
                    a(href="#") 
                      img(src="media/icons/folder-2.svg", alt="")
                      span классификатор ОКПД2
                  li 
                    a(href="#") 
                      img(src="media/icons/books.svg", alt="")
                      span учебные материалы.
                  li 
                    a(href="#") 
                      img(src="media/icons/tel-2.svg", alt="")
                      span калькулятор НМЦК
                  li 
                    a(href="#") 
                      img(src="media/icons/book.svg", alt="")
                      span руководства пользователей по 
                        b 44-ФЗ 
                        | и 
                        b 223-ФЗ
                  li 
                    a(href="#") 
                      img(src="media/icons/hammer-2.svg", alt="")
                      span решения и постановления судов и ФАС
              .about__text 
                p Также здесь вы сможете прочитать последние новости по изменениям в законодательстве, пройти курсы повышения квалификации и профессиональной переподготовки и посмотреть обучающие вебинары и записи видеоуроков.
                p ПРОГОСЗАКАЗ.РФ – это еще и периодическое издание, которое выходит ежемесячно. Здесь публикуются экспертные статьи, новости и полезные материалы. Вы можете оформить подписку на журнал прямо на сайте.

            .about__block 
              .about__text 
                h2 Консалтинг
                p В рамках консалтинга вы можете задать вопросы экспертам платформы. В течение суток вам будет предоставлен развернутый ответ со ссылкой на нормативные документы, судебное решение или практику взаимодействия с ФАС.
                p Также эксперты платформы подготовят шаблоны для оформления документов, образцы технических заданий или контрактов и предоставят рекомендации в случае подачи жалобы в УФАС.
                p Наконец, вы получите доступ к информационной базе платформы, в которой собраны более 11 000 ответов на ранее заданные вопросы. Это поможет вам найти ответ, который уже давали госструктуры при решении проблемы, аналогичной вашей.
                  img(src="media/img/about/img-1.png", alt="")

            .about__block 
              .about__text 
                h2 Калькуляторы и модули расчета
                p Вам не придется считать вручную – на сайте есть удобные онлайн-калькуляторы, с помощью которых можно рассчитать стоимость штрафа и пени на недобросовестного поставщика, а также определить сроки по электронному аукциону или по запросу котировок. На площадке вы сможете проверить организацию на добросовестность, найти и изучить деятельность ФАС по любому вопросу, касаемому госзакупок, и самостоятельно составить обоснование НМЦК в специальном модуле расчета.
                p Раздел со справочниками – удобный инструмент, который позволяет проверять ограничения и обременения в классификаторе и подобрать код ОКПД2, который чаще всего используют в закупках.

            .about__block 
              .about__text 
                h2 Журналы
                p При подготовке каждого выпуска журнала используются нормативно-правовые акты и изменения, с которыми вы как читатель также можете ознакомиться. В журнале публикуются экспертные статьи, новости и полезные материалы в сфере регламентированных закупок.
                p Электронную версию журнала можно скачать на любое устройство, а печатную получить по почте.

          .about__col.about__col--half 

            .about__block 
              .about__text 
                h2 Функционал платформы ПРОГОСЗАКАЗ.РФ
                p Площадка помогает свести к минимуму риски административно-правовых разбирательств и взысканий, которые часто возникают при нарушении требований законодательства. В функционал программы входят консалтинг, калькуляторы и модули расчета, нормативная база, вебинары и ежемесячный журнал в электронной или печатной версии.
                  img(src="media/img/about/img-2.png", alt="")

            .about__block 
              .about__text 
                h2 Преимущества ПРОГОСЗАКАЗ.РФ
                p Платформа помогает сэкономить время и избежать ошибок, а также автоматизировать рутинные процессы и избежать штрафов при взаимодействии с контролирующими органами и оформлении документов.
                p 
                  b Перечислим основные преимущества сервиса:
                ul 
                  li 
                    b работает через браузер 
                    | – не нужно ничего устанавливать на компьютер и ежемесячно обновлять, а заходить в программу можно с любого устройства;
                  li 
                    b консультации по госзакупкам проводят эксперты-практики 
                    | – вы можете быть уверены, что получите квалифицированный ответ по любому вопросу;
                  li 
                    b подробные консультации для каждого клиента 
                    | – эксперты    не отвечают на вопросы шаблонными фразами и ссылками на нормативные акты, а дают развернутый ответ;
                  li 
                    b простой интерфейс 
                    | – в устройстве сайта разберется даже неподготовленный пользователь;
                  li 
                    b нет лишней информации и назойливой рекламы 
                    | – на платформе размещены только актуальные новости и полезные материалы по госзакупкам;
                  li 
                    b быстрый ответ 
                    | – клиент получает развернутый комментарий эксперта в течение 24 часов после обращения;
                  li 
                    b каждый ответ тщательно проверяется 
                    | – перед тем как отправить итоговые комментарии клиенту, их рассматривает совет экспертов.
                p 
                  b Таким образом, на сайте ПРОГОСЗАКАЗ.РФ вы можете не просто 
                    a(href="#") найти ответы на вопросы
                    | , касаемые госзакупок, но и 
                    a(href="#") проконсультироваться со специалистами
                    | . Однако это еще не все, и далее мы подробно рассмотрим возможности сервиса.

            .about__block 
              .about__text 
                h2 Нормативная база
                p На сайте размещены экспертные материалы, шаблоны документов и примеры технических заданий по каждому предмету закупки. С помощью удобных разделов вы сможете найти любую информацию и использовать ее для своей работы.
                p 
                  span Кроме того, здесь размещаются все изменения по 
                    b 44-ФЗ 
                    | и 
                    b 223-ФЗ
                    | , а также подборка практических материалов и статей по закупкам.
                  img(src="media/img/about/img-3.png", alt="")

            .about__block 
              .about__text 
                h2 Вебинары
                p От 3 до 5 раз в месяц на платформе проводятся вебинары, где обсуждаются острые вопросы. Вы не просто узнаете актуальную информацию, но и сможете максимально глубоко изучить законодательные акты по контрактным системам и задать вопросы экспертам в прямом эфире.
                  img(src="media/img/about/img-4.png", alt="")
                p Все вебинары хранятся в архиве, доступ к которому не ограничен. Вы можете пересматривать учебные материалы в удобное для вас время.

          .about__col 

            .about__block 
              .about__text 
                h2 Подведем итог
                p Сервис ПРОГОСЗАКАЗ.РФ – удобная платформа для работы в сфере госзакупок по ФЗ-44 и ФЗ-233. Доступ к системе платный, стоимость зависит от выбранного тарифа. Если вам хочется задать вопросы по тарифам и способам оплаты, а также оценить на практике инструменты сервиса – попробуйте демоверсию, которая поможет понять, насколько платформа подходит для вашей работы.
      
  </main>

  include core/footer.pug